@import '~resources/scss/partials/_mixins.scss';
@import '~resources/scss/partials/_variables.scss';

.main-container {
    @include borderPage;
    padding: 60px 0;
    text-align: center;
}

.blue-container {
    @include flex-align;
    @include borderPage;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

main {
    background-color: #1C1C1C;
    color: white;
    position: relative;
    z-index: 2;
}

.card {
    width: calc(100% / 6 - 40px);
    text-align: center;

    img {
        width: 200px;
    }

    .card-name {
        text-decoration: none;
        color: white;
    }

    a {
        display: block;
    }

    .edit-comic,
    .destroy-comic {
        background-color: transparent;
        color: white;
        padding: 5px 10px;
        margin: 10px 0;
        cursor: pointer;
    }

    .edit-comic {
        border: 1px solid $DCblue;
    }

    .destroy-comic {
        border: 1px solid red;
    }

    .card-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
}

.new-comics {
    background-color: $DCblue;
    color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $DCblue;
    margin: 20px 0;
    cursor: pointer;
}

.button-homepage {
    border: 1px solid $DCblue;
    background-color: transparent;
    color: white;
    font-size: 15px;
    padding: 15px 20px;
    cursor: pointer;
}

.homepage-container {
    width: 50%;
    margin: 0 auto;
    padding: 80px 0;
}

.row-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.blue-section {
    background-color: $DCblue;
    padding: 40px 0;
    position: relative;
    z-index: 1;

    .blue-section-links {
        @include flex-align;
        color: white;

        img {
            height: 100px;
        }
    }

    .blue-section-links-text {
        padding-left: 10px;
    }
}